<section class="forgot-password flex-box">
    <section class="forgot-password__card">
        <form class="forgot-password__form flex-box column-flex-box">
            <h2>FORGOT PASSWORD</h2>
            <div class="forgot-password__form__field">
                <app-form-field iconName="email" id="mailId" labelName="Email">
                    <input autofocus autocomplete="off" />
                </app-form-field>
            </div>
            <button class="primary-button">SEND PASSWORD-RESET LINK</button>
            <p>Don't have an account ? <a routerLink="/accounts/create-account">Create here</a></p>
        </form>
    </section>
</section>