<section class="password-reset flex-box">
    <section class="password-reset__card">
        <form class="password-reset__form flex-box column-flex-box">
            <h2>RESET PASSWORD</h2>
            <div class="password-reset__form-field">
                <app-form-field iconName="lock" id="password" labelName="Password">
                    <input name="password" type="password" autofocus autocomplete="off" />
                </app-form-field>
            </div>
            <div class="password-reset__form-field">
                <app-form-field iconName="lock" id="confirm-password" labelName="Confirm password">
                    <input name="confirmPassword" type="password" autofocus autocomplete="off" />
                </app-form-field>
            </div>
            <button class="primary-button">SAVE PASSWORD</button>
            <p>Don't have an account ? <a routerLink="/accounts/create-account">Create here</a></p>
        </form>
    </section>
</section>