<section class="login flex-box">
    <section class="login__card">
        <form [formGroup]="getLoginForm()" class="login__form flex-box column-flex-box">
            <h2>SIGN-IN</h2>
            <div class="login__form-field">
                <app-form-field iconName="email" [formField]="getMaidIdControl()" id="mailId" labelName="Email">
                    <input name="email" formControlName="mailId" type="email" autofocus autocomplete="off" />
                </app-form-field>
            </div>
            <div class="login__form-field">
                <app-form-field iconName="lock" [formField]="getPasswordControl()" id="password" labelName="Password">
                    <input name="password" formControlName="password" type="pasword" autocomplete="off" />
                </app-form-field>
            </div>
            <a class="forgot-password-link" routerLink="/accounts/forgot-password">Forgot password ?</a>
            <button class="primary-button">LOGIN</button>
            <p class="redirect-action-link">Don't have an account ? <a routerLink="/accounts/create-account">Create here</a></p>
        </form>
    </section>
</section>