.account-shell {
    width: 100%;
    height: 100%;
}
.account-shell__header {
    width: 100%;
    height: 10%;
    background-color: royalblue;
    color: white;
    padding: 0 3%;
}
.account-shell__outlet {
    width: 100%;
    height: 90%;
}
.account-shell__header-link {
    font-size: 2em;
    color: white;
}