<section class="signin flex-box">
    <section class="signin__card">
        <form class="signin__form flex-box column-flex-box">
            <h2>CREATE ACCOUNT</h2>
            <div class="signin__form__field">
                <app-form-field iconName="person" id="userName" labelName="Username">
                    <input type="text" name="userName" autofocus autocomplete="off" />
                </app-form-field>
            </div>
            <div class="signin__form__field">
                <app-form-field iconName="email" id="mailId" labelName="Email">
                    <input name="mailId" type="email" autofocus autocomplete="off" />
                </app-form-field>
            </div>
            <div class="signin__form__field">
                <app-form-field iconName="lock" id="password" labelName="Password">
                    <input name="password" type="password" autocomplete="off" />
                </app-form-field>
            </div>
            <button class="primary-button">CREATE ACCOUNT</button>
            <p class="redirect-action-link">Already have an account ? <a  routerLink="/accounts/login">Login here</a></p>
        </form>
    </section>
</section>