@import '../../../../../shared.scss';

.landing {
    width: 100%;
    height: 100%;
}
.landing-header {
    width: 100%;
    height: 13%;
}
.landing-header__link {
    padding: 1%;
    margin-right: 3%;
    @include neu-outside(-4px, 4px, 7px);
    border-radius: 5px;
    font-weight: bold;
}
.landing-banner {
    width: 100%;
    height: 70%;
    text-align: center;
}
.landing-banner__title {
    font-size: 3em;
    @include neu-outside;
    padding: 2%;
    border-radius: 10px;
}
.landing-banner__slogan {
    font-size: 2em;
    @include neu-inside;
    padding: 2%;
    border-radius: 10px;
}
.landing-feature {
    width: 100%;
    height: 40%;
}
.landing-feature__card {
    width: 30%;
    height: 90%;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
    @include neu-outside;
}
.landing-footer {
    width: 100%;
    height: 10%;
}
.landing-footer__link {
    padding: 1% 2%;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
}